<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class=" min-h-screen bg-zinc-900 w-full text-white p-10  ">
    <a href="/">Back To Home</a>
    <h1 class="mt-5 text-3xl "><%= filename %></h1>
    <p class="mt-5 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum eveniet consequuntur ad consectetur aliquam sequi. Consequuntur obcaecati modi cum, vitae at neque provident! Impedit animi doloribus expedita rem illo!</p>
  </div>
</body>

</html>